body {
  margin: 0;
  height: 100vh;
  place-content: center;
  background-color: #202020;
}

#mid {
  background-color: #202020;
  display: flex;
  justify-content: center; /* căn giữa toàn bộ theo chiều ngang */
  position: relative;
}

#app {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #202020;
}

#menu {
  position: absolute;
  left: 78%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#menu .buttonBase {
  height: 70px;
  width: 300px;
  border-radius: 10px;
  border: none;
  border-bottom: 4px solid rgb(83, 132, 34);
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(129, 182, 76);
  color: white;
}

#menu .buttonBase:hover {
  background-color: rgb(157, 212, 101);
  transition-duration: 0.2s;
}

#menu .buttonBase:active {
  background-color: rgb(83, 132, 34);
  transform: translateY(3px);
}
#menu .Status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebecd0;
  color: #779556;
  height: 70px;
  width: 300px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hidden {
  display: none !important;
}
